Repository moonheart08/outer-rim-14, pull requests merged in 2022-08, with the labels that each got.

#21 Hardsuit Cameras
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Maps/isvstarlight.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/OuterRim/Devices/devicenet_frequencies.yml
  Resources/Prototypes/OuterRim/Entities/Structures/Machines/surveillance_camera_routers.yml
Labels: No C#, Changes: Map

#23 cryopods
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Medical/Cryopod/CryopodComponent.cs
  Content.Server/Medical/Cryopod/CryopodSystem.cs
  Content.Server/Spawners/EntitySystems/SpawnPointSystem.cs
  Resources/Locale/en-US/medical/components/cryopod-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/cryopod.yml
  Resources/Textures/Structures/Machines/cryopod.rsi/closed.png
  Resources/Textures/Structures/Machines/cryopod.rsi/meta.json
  Resources/Textures/Structures/Machines/cryopod.rsi/open.png
Labels: Changes: Sprites

#24 Adds a new ship: Pincer
  Resources/Maps/isvpincer.yml
  Resources/Prototypes/Maps/isvpincer.yml
  Resources/Server Info/ISVPincerInfo.txt
Labels: No C#, Changes: Map, Status: Needs Review

#25 ISV Boomerang anomalous countainment vessel
  Resources/Maps/isvboomerang.yml
  Resources/Prototypes/Maps/isvboomerang.yml
  Resources/Server Info/ISVBoomerangInfo.txt
Labels: No C#, Changes: Map, Status: Needs Review

#26 Pincer updates
  Resources/Maps/isvpincer.yml
Labels: No C#, Changes: Map

#28 ISV Boomerang update
  Resources/Maps/isvboomerang.yml
Labels: No C#, Changes: Map
